.navbar { 
    overflow: hidden;
    background-color: #333;
    display: fixed;
    position: sticky;
    top: 0;
    padding-top: 0%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn { 
    background-color: red;
}